<!--pantalla de menu-->

<section class="container-fluid hidden-xs">
    <div class="row">
        <div class=" col-xl-12 col-lg-12 col-xs-12 col-md-12 col-sm-12 menu">
            <ul class="navbar-collapse navbar-default">
                <li class="logo col-lg-12 col-xl-2 col-xs-6">
                    <img class="img-fluid" src="./../../../assets/images/logo.png">
                </li>
                <li class="titulo col-xl-10 col-xs-6 col-sm-6 text-center">
                    <p>Sistema de Evaluación Créditicia</p>
                </li>
            </ul>
        </div>
        </div>
        
        <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <p class="botones">
                
                <button type="button" class="btn btn-default btn-lg btn-one" routerLink="/pendientes">Solicitudes Pendientes</button>
                <button type="button" class="btn btn-default btn-lg btn-two" routerLink="/grupo">Nueva Solicitud</button>
            </p>
        </div>
    </div>
</section>


<!--pantalla movil-->

<!--

<section class="container-fluid hidden-xl hidden-lg two">
    <div class="row">
        <div class=" col-xs-12 col-sm-12 menu-2 hidden-md">
            <ul class="navbar-collapse navbar-default">
                <li class="logo-2">
                    <img class="img-responsive" src="./../../../assets/images/logo.png">
                </li>
                <li class="titulo-2  text-center">
                    <p>Sistema de Evaluación Créditicia</p>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-xs-12 hidden-md">
            <p class="botones">
                <button type="button" class="btn btn-default btn-lg btn-block btn-1" routerLink="/pendientes">solicitudes Pendientes</button>
                <button type="button" class="btn btn-default btn-lg btn-block btn-2" routerLink="/grupo">Nueva Solicitud</button>
            </p>
        </div>
    </div>
</section>
-->
<!--
<input type="button" value="Solicitudes Pendientes" routerLink="/pendientes">
<input type="button" value="Hacer nueva solicitud" routerLink="/grupo">
-->
